.DS_Store
node_modules/
dist/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports

node_modules
bower_components
bower_components/
refs
.idea
.idea/
.log
*.swp
*.swo
*.html~
*.js~
*.coffee~
*.css~
*.less~
*.iml


